body {
    margin: 0;
}
.admin-container { 
}
.admin-values {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin-top: 3rem;
    height: 10rem;
}
.admin-info {
    border-radius: 10px;
    width: 15rem;
    padding: 2rem;
    height: 6rem;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}

.admin-info-para {
    font-weight: bold;
    font-size: 16px;
}
.admin-info-rate {
    display: flex;
}
.admin-info-discount {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    font-size: 13px;
}
.admin-info-span {
    font-size: 30px;
    font-weight: 600;
}

.admin-info-number {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.admin-info-number svg {
    width: 15px;
    margin-bottom: -5px;
}
.admin-info-list p {
    margin: 0;
}
.negative {
    margin-top: 5px;

    color: red;
}
.positive {
    margin-top: 5px;
    color: green;
}
.admin-info-compared  {
    font-weight: 600;
    color: gray;
    font-size: 15px;
}
.admin-table {
    border-radius: 10px;
    padding: 1rem;
    width: 25rem;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}
.admin-table h4 {
    margin: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 26, 26);

}
.admin-users {

    display: flex;
    padding: 1rem;
}
.admin-images a {
    text-decoration: none;
}
.admin-images ul {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 5px;

    list-style-type: none;
}
.admin-names {
    margin-left: 1rem;
    width: 14rem;
}
.user-name {
    font-size: 14px;
    font-weight: bold;
}
.user-email {
    font-size: 13px;
    color: grey;
}

.admin-widget {
    margin-top: 5px;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}
.user-display {
    margin-left: 2rem;
}
.user-display button {
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #eeeef7;
    border: none;
    outline: none;
    padding: 7px 10px;
    cursor: pointer;
}

.user-display svg {
    font-size: 15px;
    margin-right: 5px;
    color: rgb(143,141,149);
}
.user-display span {
    color: rgb(143,141,149);

}
.admin-orders {
    border-radius: 10px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

}
.admin-orders h4 {
    margin: 0;
    font-size: 22px;

}
.order-table {
    margin-top: 1rem;
    width: 100%;
    border-style: 20px;
    margin-left: 1rem;
}
.order-th {
    text-align: left;
    margin-left: 20px;    
    padding: 0;
}
.order-picture {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.order-picture img {
    border-radius: 50%;
    object-fit: cover;
    width: 2.5rem;
    margin-top: 5px;
    height: 2.5rem;
}
.order-rest {
    font-size: 16px;
    width: 6rem;
}
.order-rest a {
    text-decoration: none;
    color: black;
}
.order-span {
    width: 10rem;
    font-weight: bold;
    margin-left: 10px;
}
.order-info {
    margin-top: 1rem
}
.order-button  {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(197, 63, 63);
}
