@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500&display=swap');

.verify-container {
    margin-top: 2rem;
    font-family: 'M PLUS 2', sans-serif;
    
}
.verify-icon {
    display: flex;
    justify-content: center;
}
.verify-icon svg {
    width: 4rem;
    height: 4rem;
    color: rgb(0, 177, 0);
}
.borderline {
    background-color: grey;
    width: 40%;
    margin: 1rem auto;
    height: 1px;
}
.verify-text {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
}
.verify-text p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.verfiy-link {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verfiy-link p {
    padding: 0;
    margin: 0;
    margin-right: 5px;
}
.verfiy-link a {
    text-decoration: none;
    color: black;
    background-color:  #766DF4;
    padding: 5px;
    color: white;
    border-radius: 5px;
}