.search-container {
  width: 89%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
}

.search-one  {
  display: flex;
  flex-wrap: wrap;
}
.search-one  a{
  text-decoration: none;
  color: black;
}
.icons {
  display: flex;
  align-items: center;
}
.search-filters {
  margin-top: 2rem;
  display: flex;
}

.search-left {
  padding: 1rem;
  flex: 1;
  height: 30rem;

}
.search-right {
  padding: 1rem 1rem 0 1rem;
  flex: 3;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.products-info {
  margin: 0 0 1rem 0;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.product-treding-products-container {
  padding:  1rem;
}
.product-trending-products-info {

  padding: 0.5rem;
  width: 13.7rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid rgb(202, 202, 202);
}
.product-trending-products-info:hover {
  border-color: #766df4;
}
.product-trending-products-image img {
  width: 11rem;
  object-fit: cover;
  height: 11rem;
}
.product-trending-products-image {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-trending-products-text {
  height: 6rem;
  font-family: 'M PLUS 2', sans-serif;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  color: #4A4B65;

}
.product-trending-price {
  margin-top: 0.5rem;
}
.product-trending-category {
  font-size: 13px;
}
.product-trending-products-text a {
  text-decoration: none;
  color: #4A4B65;

}