.loading-frame-over {
    align-items: center;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 40%;
    width: 30px;
    height: 30px;
    z-index: 9999;
    border: solid 5px #fff;
    border-top: solid 5px #3498db;
    border-radius: 50%;
    animation: loading 1s infinite linear
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}