@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500&display=swap');
.homescreen-container {
  /* height: 100vh; */
  width: 100%;
  border-bottom-left-radius: 100% 35%;
  border-bottom-right-radius: 100% 35%;
  background-image: linear-gradient(to right, rgb(119, 109, 244) 0%, rgb(118, 109, 244) 30%, rgb(106, 155, 244) 100%);
}

.homescreen-top {
  padding: 9rem 0;
  width: 80%;
  margin: 0 auto;
} 
.homescreen-product {
  display: flex;
  justify-content: center;
}

.homescreen-product-left {
  width: 17rem;
  height: 100%;
}
.homescreen-product-left-item-focus {
  border: 1px solid #fff;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: #fff;
  border-radius: 16px;
}
.homescreen-product-left-item {
  border: 1px solid #fff;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: rgb(118,109,244);
  border-radius: 16px;
}
.homescreen-product-left-item img {
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 5px;
  width: 4rem;
  object-fit: cover;
  height: 4rem;
}
.homescreen-product-left-item-product {
  margin-left: 1rem;
  width: 100%;
}
.homescreen-product-left-item-product  p{
  font-family: 'M PLUS 2', sans-serif;
  color: #fff;
  margin: 2px 0;
  font-size: 14px;
}
.homescreen-product-left-item svg {
  width: 1rem;
  height: 1rem;
  color: #fff;
  margin-left: 1rem;
}
.homescreen-product-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  width: 60%;
 
}
.homescreen-product-right-name a {
  text-decoration: none;
}
.homescreen-product-right-name {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

}
.homescreen-product-right-name p {
  margin: 10px;
  font-family: 'M PLUS 2', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 40px;

}

.img-home {
  width: 25rem;
  height: 25rem;
}
.homescreen-product-right-img {
  margin-left: 5rem;
}
.homescreen-product-button {
  border: none;
  color: #fff;
  font-family: 'M PLUS 2', sans-serif;
  background-color: rgb(128,124,245);
  outline: none;
  padding: 1rem;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
}
.homescreen-product-button:hover {
  background-color: #fff;
  color: #5A5B75;
}
.product-categories {

  width: 80%;
  padding: 0 1rem;
  margin: -5rem auto 6rem  auto;
  height: 20rem;
  display: flex;
  justify-content: space-between;

}
.product-categories-info {
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  width: 20rem;
  height:25rem;
}
.product-categories-info a {
  text-decoration: none;
  color: #4A4B65;

}
.product-categories-info-image img  {
  width: 15rem;
  object-fit: cover;
  height: 15rem;
}
.product-categories-info-image {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:center;

  background-color: #F8F7FD;
  height: 20rem;
}
.product-categories-info-name {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  color: #4A4B65;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-categories-info-name span {
  font-family: 'M PLUS 2', sans-serif;

  margin-left: 2rem;
}
.product-trending-products {
  width: 80%;
  margin: 0 auto 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-treding-products-container {
  padding:  1rem;
}
.product-trending-products-info {

  padding: 0.5rem;
  width: 13.7rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid rgb(202, 202, 202);
}
.product-trending-products-info:hover {
  border-color: #766df4;
}
.product-trending-products-image img {
  width: 11rem;
  object-fit: cover;
  height: 11rem;
}
.product-trending-products-image {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-trending-products-text {
  height: 6rem;
  font-family: 'M PLUS 2', sans-serif;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  color: #4A4B65;

}
.product-trending-price {
  margin-top: 0.5rem;
}
.product-trending-category {
  font-size: 13px;
}
.product-trending-products-text a {
  text-decoration: none;
  color: #4A4B65;

}
.product-trending-button {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
  

  width: 100%;
  color: #807CF5;
  justify-content: center;
}
.product-trending-button button:hover {
  background-color: #807CF5;
  color: #fff;
  border-color: #807CF5 ;
}
.product-trending-button button {
  font-size: 16px;
  font-family: 'M PLUS 2', sans-serif;
  border: 1px solid rgb(202, 202, 202);
  background-color: #fff;
  padding: 9px 20px;
  color: #807CF5;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}











.footer-info-first-container a, .footer-info-about-rest a {
  color: #C3C4CA;
  text-decoration: none;
}














@media screen and (max-width: 960px) {
  .homescreen-top {
    display: flex;
    justify-content: center;
  }
  .homescreen-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  

  .homescreen-product-right-img img {
    width: 15rem;
    height: 15rem;
  }
  .homescreen-product-right {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrwap;
    flex-direction: column;
  }
  .homescreen-product-left {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
 .product-trending-products {
  margin-top: 5rem;
 }
  .homescreen-product-right-img {
    margin: 0;
    margin-top: 2rem;
  }
  .product-categories-info {
    width: 6.5rem;
    height: 4rem;
  }
  .homescreen-product-right-name p {
    font-size: 20px;
  }
  .product-categories-info-image img {
    width:  10rem;
    height: 5rem;
  }
  .product-categories-info-name {
    margin-top: -2rem;
  }
  .product-categories-info-name span {
    font-size: 14px;
    margin-left: 10px;
  }
  
  
}