.slider {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    height: 20rem;
}
.slide {
    height: 20rem;
    width: 80%;
    margin: 10.3rem auto;
    opacity: 0;
    transition-duration: 1s ease;

}
.slide.active {
    opacity: 1;
}
.slide img {
    margin: 0;
    object-fit: cover;
    transition: 1s;
}
.slider svg {
    color: #fff;
    cursor: pointer;
    position: absolute;
}
.right {
    top: 45%;
    right: 12%;
}
.left {
    top: 45%;
    left: 12%;
}